@font-face {
    font-family: openSans;
    src: url(Open_Sans/openSans.ttf);
}

@font-face {
    font-family: leto;
    src: url(fonts/leto.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6f3f3;
}

.hero {
    display: flex;
    gap: 32px;
}

.sidebar {
    background: #605BFF;
    width: 17%;
    height: 100vh;
    position: fixed;

}

.side-header {
    display: flex;
    padding: 40px 52px 41px 21px;
    gap: 30px;
}

.side-header {
    width: 25px;
    height: 25px;
}

.side-header h1 {
    margin-top: -5px;
    font-size: 25px;
    font-family: openSans;
    color: #FFFFFF;

}

.side-manu {
    padding: 12px 21px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 17px;
}

.side-dashboard,
.vendors,
.customers,
.airlines,
.booking,
.expences,
.banks,
.setting {
    line-height: 25px;
    display: flex;
    gap: 8px;

}

.side-dashboard img,
.vendors img,
.customers img,
.airlines img,
.booking img,
.expences img,
.banks img,
.setting img {
    width: 17px;
    height: 17px;
}

.side-dashboard h1,
.vendors h1,
.customers h1,
.airlines h1,
.booking h1,
.expences h1,
.banks h1,
.setting h1 {
    font-family: leto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
}

.side-img img {

    width: 200px;
    height: 200px;
    margin-top: 188px;
    padding: 20px 0px 0px 0px;
    gap: 0px;
    opacity: 10px;
    position: absolute;
    bottom: 0;
    z-index: -200px;

}

/* here we seting the navbar */
.profile {
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;

    width: 1235px;
    align-items: center;
    justify-content: right;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 0px 10px;
}

.bil-icon {
    display: flex;
    gap: 50px;
}

/* here we setting the customer list */
.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 930px;
    padding: 10px 10px;
}

.profile-header h1 {
    font-family: opensans;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1)
}

.profile-header button {
    width: 160px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(96, 91, 255, 1);
    border: 1px solid rgba(96, 91, 255, 1);
    border-radius: 5px;
    font-family: opensans;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

/* here we setting the main-card */
.customer-set {
    width: 1128px;
    height: 867px;

    gap: 0px;
    border-radius: 12px ;
    opacity: 0px;
    background-color: rgb(255, 255, 255);
    padding: 15px 25px;

}

.input-group {
    display: flex;
    justify-content: space-between;
    font-family: opensans;
}

.first-input button {
    width: 112px;
    height: 36px;
    padding: 5px 0px 5px 0px;
    gap: 8px;
    border-radius: 3px;
    border: 1px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(189, 189, 189, 1);

    font-family: opensans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;


}

.search-input input[type=text] {
    width: 628px;
    height: 36px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./sideimg/search.png');
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 10px 20px 12px 40px;

}

.filter-input button {
    width: 92px;
    height: 36px;
    top: 149px;
    left: 1068px;
    gap: 0px;
    border-radius: 3px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(189, 189, 189, 1);

    font-family: opensans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}

.date-input {
    width: 217px;
    height: 35px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(189, 189, 189, 1);
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 80px;
}

/* here we setting the table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

td,

th {
    font-family: opensans;
    text-align: left;
    padding: 15px 10px;
    gap: 15px;
    color:rgba(66, 66, 66, 1);
}
td button{
    font-family: opensans;
    width:55px;
height: 22px;
top: 265px;
left: 1089px;
/* padding: 8px 10px 8px 10px; */

border-radius: 3px;
opacity: 0px;
background: rgba(216, 254, 216, 1);
color: rgba(65, 186, 85, 1);
border: rgba(216, 254, 216, 1); ;

}

td {
    font-family: opensans;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: rgba(117, 117, 117, 1);

}

.footer-part {
    margin-top: 120px;
    display: flex;
    align-items: center;
   margin-top: 330px;
   gap: 342px;
}

.rows {
    display: flex;
   
    align-items: center;
    gap: 10px;
}

.rows p {
    font-family: opensans;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: rgba(189, 189, 189, 1);

}

.rows select {
    width: 39px;
    height: 20px;
    gap: 6px;
    border-radius: 3px;
    opacity: 0px;
    font-family: opensans;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    background-color: rgba(96, 91, 255, 1);
    color: rgba(255, 255, 255, 1);
}
.choice p{

font-family: opensans;
font-size: 13px;
font-weight: 400;
line-height: 16px;
text-align: left;
color: rgba(97, 97, 97, 1);
}

.choice {
    display: flex;

    align-items: center;
    gap: 15px;
    font-size: ;
}

.choice button {
    width: 20px;
    height: 20px;
    gap: 0px;
    border-radius: 3px;
    opacity: 0px;
    background: rgba(96, 91, 255, 1);
    color: rgba(255, 255, 255, 1);

}