@font-face {
    font-family: openSans;
    src: url(Open_Sans/openSans.ttf);
}

@font-face {
    font-family: leto;
    src: url(fonts/leto.ttf);
}

@font-face {
    font-family: DM Sans;
    src: url(fonts/DM\ Sans.ttf);
}

@font-face {
    font-family: inter;
    src: url(fonts/inter.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6f3f3;
}

.hero {
    display: flex;
    gap: 32px;
}

.sidebar {
    background: #605BFF;
    width: 17%;
    height: 100vh;
    position: fixed;

}

.side-header {
    display: flex;
    padding: 40px 52px 41px 21px;
    gap: 30px;
}

.side-header {
    width: 25px;
    height: 25px;
}

.side-header h1 {
    margin-top: -5px;
    font-size: 25px;
    font-family: openSans;
    color: #FFFFFF;

}

.side-manu {
    padding: 12px 21px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 17px;
}

.side-dashboard,
.vendors,
.customers,
.airlines,
.booking,
.expences,
.banks,
.setting {
    line-height: 25px;
    display: flex;
    gap: 8px;

}

.side-dashboard img,
.vendors img,
.customers img,
.airlines img,
.booking img,
.expences img,
.banks img,
.setting img {
    width: 17px;
    height: 17px;
}

.side-dashboard a,
.vendors a,
.customers a,
.airlines a,
.booking a,
.expences a,
.banks a,
.setting a {
    font-family: leto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.side-img img {

    width: 200px;
    height: 200px;
    margin-top: 188px;
    padding: 20px 0px 0px 0px;
    gap: 0px;
    opacity: 10px;
    position: absolute;
    bottom: 0;
    z-index: -200px;

}

/* here we seting the navbar */
.profile {
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;

    width: 1235px;
    align-items: center;
    justify-content: right;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 0px 10px;
}

.bil-icon {
    display: flex;
    gap: 50px;
}

/* here we setting the customer list */
.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 930px;
    padding: 10px 10px;
}

.profile-header h1 {
    font-family: opensans;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1)
}

.profile-header button {
    width: 160px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(96, 91, 255, 1);
    border: 1px solid rgba(96, 91, 255, 1);
    border-radius: 5px;
    font-family: opensans;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

/* here we setting the main-card */
.customer-set {
    width: 1128px;
    height: 880px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    background-color: rgb(255, 255, 255);
    padding: 20px 25px 10px 25px;

}

.tours {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.swat {
    width: 1, 106px;
    height: 120.73px;
    padding: 12.36px;
    gap: 11.13px;
    border-radius: 12.36;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.tours-info {
    display: flex;
    gap: 15px;

}

.info-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 880px;
    height: 86px;
}

.info-text h2 {
    font-family: DM Sans;
    font-size: 13.6px;
    font-weight: 500;
    line-height: 28.44px;
    letter-spacing: -0.01em;
    text-align: left;

}

.info-text p {
    font-family: Inter;
    font-size: 9.08px;
    font-weight: 400;
    line-height: 11.35px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(151, 151, 151, 1);

}

.price p {
    font-family: inter;
    font-size: 12.36px;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(96, 91, 255, 1);

}

.edit-1 {
    width: 20px;
    height: 20px;
    gap: 0px;
    border-radius: 3px;
    opacity: 0px;
    background: rgba(236, 247, 251, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-1 img {
    width: 10px;
    height: 10px;
}

.edit {
    display: flex;
    gap: 10px;

}


.footer-part {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 343px;
}

.rows {
    display: flex;

    align-items: center;
    gap: 10px;
}

.rows p {
    font-family: opensans;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: rgba(189, 189, 189, 1);

}

.rows select {
    width: 39px;
    height: 20px;
    gap: 6px;
    border-radius: 3px;
    opacity: 0px;
    font-family: opensans;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    background-color: rgba(96, 91, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.choice p {

    font-family: opensans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(97, 97, 97, 1);
}

.choice {
    display: flex;
    align-items: center;
    gap: 15px;

}

.choice button {
    width: 20px;
    height: 20px;
    gap: 0px;
    border-radius: 3px;
    opacity: 0px;
    background: rgba(96, 91, 255, 1);
    color: rgba(255, 255, 255, 1);

}